<div class="modal fade interstitial" id="d3a1-interstitial" tabindex="-1" role="dialog" aria-labelledby="modal-title">
{{!-- <div class="modal fade" id="interstitial" aria-labelledby="interstitial"> --}}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header--image">
                    <img class="boa-logo" src="assets/images/BAC_Logo_Horizontal_RGB.svg" onerror="this.src='assets/images/BAC_Logo_Horizontal_RGB.png';this.onerror=null;" alt="Bank of America">
                </div>
                <br>
                {{!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> --}}
                {{!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> --}}
                <div href="#" data-dismiss="modal" id="interstitial-close" role='button' class="js-close">Close Modal <b>X</b></div>
            </div>
            <div class="modal-body" tabindex='0'>
                <p>Please keep in mind you're continuing to another website that Bank of America doesn't own or operate. Its owner is solely responsible for the website's content, offering and level of security, so please refer to the website's posted privacy policy and terms of use.</p>
                <p>By selecting <strong>Continue</strong>, you agree that <strong>when</strong> and <strong>if</strong> you load your eligible credit or debit card into a digital wallet, you'll be requesting that <strong>a virtual card number</strong> be created on your behalf. You also agree that any future use of your <strong>virtual card number</strong> will be subject to the terms of your Credit Card Agreement for your Bank of America<sup>&reg;</sup>, Merrill Lynch<sup>&reg;</sup> or U.S. Trust<sup>&reg;</sup> credit card or your existing Important Information Brochure for your Bank of America or U.S. Trust debit card, as may be amended.</p>
            </div>
            <div class="modal-footer">
                <a id="interstitial-continue" class="btn btn-primary" role="button" href="javascript:void(0);">Continue</a>
                <a id="interstitial-cancel" class="btn btn-default" data-dismiss="modal" role="button" href="#">Return to Bank of America</a>
            </div>
        </div>
    </div>
</div>
